<h1>Listing consider_carts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @consider_carts.each do |consider_cart| %>
      <tr>
        <td><%= link_to 'Show', consider_cart %></td>
        <td><%= link_to 'Edit', edit_consider_cart_path(consider_cart) %></td>
        <td><%= link_to 'Destroy', consider_cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consider cart', new_consider_cart_path %>
