<!DOCTYPE html>
<html>

  <div id="container">
    <div id="header"><head>
    <style>h1 {
  color: blue;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}</style>
    <h1 align="center"> TOP 50 </h1>
  
   
    </head></div>
<div id="body"><body>
<h1>Click to get more information of the book</h1>
<ul>
    <table  border="1">
		  <tr>
		    <td align="center">Rank</td>
		    <td align="center">Title</td>
	      </tr>
	       <% @books.each do |post| %>
        <tr>
          <td align="center"><%= post.id%></td>
          <td align="center"><li><a href="/post/<%= post.id %>"><%= post.title %></a></li></td>
       </tr>
        <% end %>
    </table>
    </ul>
    </body></div>
    <div id="footer" align="center"><P>Authorized by wallE</P></div>
    </div></html>
  




	
        
