<% content_for :header do %>

<title> TOP 50 BOOKS </title>
	<div id="container">
		<div id="header"><head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<%= stylesheet_link_tag "list", :media => "all" %>
	

<% end %>

<% content_for :footer do %>
<P>Authorized by wallE</P>
<% end %>


