<% content_for :header do %>

<title> TOP 50 BOOKS </title>
	<div id="container">
		<div id="header"><head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="list.css" >
	

<% end %>

<% content_for :footer do %>
<P>Authorized by wallE</P>
<% end %>


